{
  "root": true,
  "extends": ["google", "eslint:recommended", "plugin:react/recommended" ],
  "plugins": [ "react", "react-hooks" ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"],
    "linebreak-style": 2,
    "react/prop-types": "off",
    "camelcase": "off"
  }
}
